# Ignore Visual Studio Code settings directory
.vscode/

# Ignore build settings directory
.build/

# Ignore Visual Studio settings
.vs/

# Ignore file types: exe, ilk, obj, pdb
*.exe
*.ilk
*.obj
*.pdb
*.user

# Ignore build directories
Debug/
Release/
x64/
