# Ignore Visual Studio Code settings directory
.vscode/

# Ignore build settings directory
.build/

# Ignore Visual Studio settings
.vs/

# Ignore file types: exe, ilk, obj, pdb
*.exe
*.ilk
*.obj
*.pdb
homework/s_molchaniuk/main/main.vcxproj.user
homework/s_molchaniuk/main/main.vcxproj.filters
homework/s_molchaniuk/main/main.vcxproj
homework/s_molchaniuk/main/main.sln
homework/s_molchaniuk/main/x64/Debug/main.exe.recipe
homework/s_molchaniuk/main/x64/Debug/main.log
homework/s_molchaniuk/main/x64/Debug/main.tlog/CL.command.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/Cl.items.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/CL.read.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/CL.write.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/link.command.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/link.read.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/link.write.1.tlog
homework/s_molchaniuk/main/x64/Debug/main.tlog/main.lastbuildstate
homework/s_molchaniuk/main/x64/Debug/main.vcxproj.FileListAbsolute.txt
homework/s_molchaniuk/main/x64/Debug/vc143.idb
