# Ignore Visual Studio Code settings directory
.vscode/

# Ignore build settings directory
.build/

# Ignore Visual Studio settings
.vs/

# Ignore file types: exe, ilk, obj, pdb
*.exe
*.ilk
*.obj
*.pdb
*.user

# Ignore build directories
Debug/
Release/
x64/
lesson8/game.cpp
lesson8/game.hpp
lesson8/bird.cpp
lesson8/lesson8.vcxproj
lesson8/lesson8.vcxproj.filters
lesson8/lesson8.vcxproj
lesson8/lesson8.vcxproj.filters
lesson8/main.cpp
lesson8/settings.hpp
lesson8/main.cpp
lesson8/main.cpp
lesson8/main.cpp
